.navbar {
    position: fixed;
    z-index: 100;
}

.navbar-nav .nav-item {
    margin-left: 15px;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

section {
    padding: 25px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section:nth-child(even) {
    background-color: #e9ebee;
}

section .typewrite {
    /* font-size: 40px;
    font-weight: bold; */
    font-size: 2.5rem;
    font-weight: 500;
    color: #cd4541;
}

.second-paragraph {
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.card {
    margin-bottom: 25px;
    box-shadow: 0 10px 40px rgba(59, 43, 91, 0.3);
}

.third-section {
    background-image: url(https://cs-pricing-page.netlify.app/img/banner.jpg);
}

.third-section h1 i {
    margin-right: 10px;
}

.fourth-section-last {
    font-size: 25px;
    margin-bottom: 100px;
}

.form-style {
    margin-top: 0em;
}

.button-size {
    width: 100%;
    margin-bottom: 50px;
}

footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-danger {
    text-align: center;
    border: 0;
}